

<form action="http://localhost:8181/fileupload" method="post" enctype="multipart/form-data">
  <h3> Carga de Números: </h3> <input type="file" name="filetoupload">
  <br>
  <br>
  <h3> Carga de Imagen: </h3> <input type="file" name="filetouploadimagen">
  <br>
  <br>
  <input type="submit">
</form>

<br>
<br>
