<site-layout>
  <@title>
    Carga de Información
  </@title>
  <@content>
    <section>
      <h2>Carga de Información</h2>
    </section>

    <section>
      <loader-files/>
    </section>
  </@content>
</site-layout>
