<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
    <include(input.title)/>
  </title>
</head>

<body>
  <header>
    <img.logo src="./images/ws-correct-box.png" alt="marko logo" />
    <h1><include(input.title)/></h1>
    <nav.menu>
      <a href="/">Inicio</a>
      <a href="/loadImage">Descargar Layout</a>
      <a href="/loadFile">Cargar Archivo</a>
      <a href="/apis">APIS</a>
      <a href="/reporte_envios">Reportes Envio</a>
      <a href="/reporte_respuestas">Reportes Respuestas</a>

      </nav>
  </header>
  <div.content>
    <include(input.content)/>
    </div>
</body>

</html>
