<site-layout>
  <@title>
    Layout
  </@title>
  <@content>
    <section>
      <h2 style="text-align:  center;">Descarga el Layout</h2>
      <br>
      <br>
      <p style="text-align:  center;">
        <a href="./files/prueba_ws.csv" download> Descarga el Layout [66kb]</a>
      </p>
      <p>
      </p>
    </section>

  </@content>
</site-layout>
